.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  color: #444;
}

.headerTitleLg {
  position: absolute;
  font-size: 80px;
}

.headerImg {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
